section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* transform */
/* rotate */
#one{
    transform: rotate(45deg);
}
/* increase or decrease size */
#two{
    transform: scale(0.5);
    transform: scale(0.5 ,  2);
}
/* mov along x and y axis */
#three{
    transform: translate(200px , 50px);
}
/* SKEW -> tilt on particular angle */
#four{
    transform: skew(30deg);
}
/* ShortHand */
#five{
    transform: rotate(30deg) translateX(150px);
    box-shadow: 2px 2px 8px yellowgreen;
    background-image: url("image.jpg");
    background-size:contain;
}
